@model IEnumerable<LabProject.Models.Category>

@{
    ViewData["Title"] = "CategoryList";
    Layout = "_Layout_Dashboard";
}

<h1>CategoryList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table w-50 ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody >
@foreach (var item in Model) {
        <tr class="d-flex justify-content-between">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
