@model IEnumerable<LabProject.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<partial name="_AddOrEditModal" model="new LabProject.Models.Category()" />

<div class="container">
    <div class="card p-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb ">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">@ViewData["Title"]</li>
            </ol>
        </nav>

        <h5 class="card-header">Your categories</h5>
        <button type="button"
                class="d-flex btn btn-primary me-auto ms-3 mb-3 align-items-center"
                data-bs-toggle="modal"
                data-bs-target="#AddOrEditModal">
            <i class='bx bx-plus pe-2'></i>new category
        </button>

        <div class="table-responsive text-nowrap">
            <table class="table-responsive table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @if (Model.Any())
                    {
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <span class="badge @(item.Type == "Income"? "bg-label-success" : "bg-label-danger" ) me-1">@Html.DisplayFor(modelItem => item.Type)</span>
                                </td>

                                <td>

                                    <a asp-action="AddOrEdit" asp-route-id="@item.Id" data-bs-toggle="modal"
                                       data-bs-target="#AddOrEditModal-@(item.Id)" data-url="@Url.Action($"AddOrEdit/{item.Id}")"><i class='bx bxs-edit m-2 h5 text-primary'></i></a>
                                    @await Html.PartialAsync("_AddOrEditModal", item)

                                    <a asp-action="Delete" asp-route-id="@item.Id" data-bs-toggle="modal"
                                       data-bs-target="@("#DeleteModal-"+item.Id)"><i class='bx bx-trash m-2 h5 text-danger'></i></a>
                                    @await Html.PartialAsync("_DeleteModal", item)
                                </td>
                            </tr>
                        }

                    }
                    else
                    {
                        <tr>
                            <td>
                                <p class="pt-2">Your Category List is empty. Add somethin new.</p>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>




